# Dependencies
node_modules/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Claude Code local config
.claude/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
__pycache__/
